:root {
    --font: 'Montserrat';
    --max-width: 1140px;
    --hover-transition: 0.4s;
    --common-transition: 0.8s;
    --hover-opacity: 0.6;
    --common-opacity: 0.4;
}

@media screen and (max-width: 1180px) {
    :root {
        --max-width: 768px;
    }
}
@media screen and (max-width: 800px) {
    :root {
        --max-width: 480px;
    }
} 
@media screen and (max-width: 540px) {
    :root {
        --max-width: 320px;
    }
} 