@import url('../vendor/fonts.css');
@import url('../vendor/normalize.css');
@import url('../variables/root.css');

.background {
    background-color: #212121;
    color: #000;
    font-family: var(--font);
    font-weight: 400;
}
.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    position: absolute;
    z-index: 2;
    top: 0;
    max-width: var(--max-width);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.header__logo {
    font-weight: 600;
    font-size: 16px;
}
.header__nav-panel {
    display: flex;
    align-items: center;
    gap: 24px;
}
.header__nav-link {
    font-weight: 600;
    font-size: 14px;
    transition: var(--hover-transition);
}
.header__nav-link:hover {
    opacity: var(--hover-opacity);
}
.header__link {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: var(--hover-transition);
}
.header__link:hover {
    opacity: var(--hover-opacity);
}
.header__link-icon {
    width: 16px;
    height: 16px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
}
.main::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 400px;
    height: 200px;
    background: #fff;
    filter: blur(400px);
    border-radius: 500px 500px 0 0;
}
.main__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
}
.main__textblock {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.main__title {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
}
.main__subtext {
    color: #999;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}
.main__image {
    transform: translateY(60px);
    pointer-events: none;
}

.models {
    width: 100%;
    background-color: #F5F5F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.models__container {
    max-width: var(--max-width);
    width: 100%;
}
.models__title {
    font-weight: 600;
    font-size: 36px;
    margin-top: 100px;
}
.models__block {
    background-color: #fff;
    width: 100%;
    padding: 24px 0 40px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}
.models__buttons {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}
.models__button {
    font-weight: 600;
    font-size: 16px;
    color: #999;
    padding: 5px;
    background-color: transparent;
}
.models__button-active {
    text-decoration: underline;
    color: #212121;
}
.models__list {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 70px;
}
.model {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.model__image {
    width: 172px;
    height: 228px;
    margin: 0 auto;
}
.model__colors {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 24px 0;
}
.model__color {
    width: 12px;
    height: 12px;
    background-color: #494a4c;
    box-shadow: inset -1px 1px 2px 0 #0000005c;
    border-radius: 100%;
}
.model__title {
    font-weight: 600;
    font-size: 24px;
}
.model__text {
}
.model__memory {
}
.model__price {
}