/* imports */
@import url("../vendor/fonts.css");
@import url("../vendor/normalize.css");
@import url("../variables/root.css");

/* styles */
.background {
  height: 100%;
  background-color: #212121;
  color: #000;
  font-family: var(--font);
  font-weight: 400;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 125%;
}

.nav-panel {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  transition: var(--hover-transition);
}

.burger {
  display: none;
  background: none;
}
.burger__menu {
  color: #fff;
  background-color: #212121;
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: -99;
  transition: var(--common-transition);
  transform: translateY(-100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger__menu_open {
  z-index: 99;
  transform: translateY(0px);
}
.burger__container {
  max-width: var(--max-width);
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burger__close-btn {
  background: none;
}

.header {
  color: #fff;
  max-width: var(--max-width);
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  top: 0;
}
.header__logo {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  transition: var(--hover-transition);
}
.header__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: var(--hover-transition);
}
.header__link-icon {
  width: 16px;
  height: 16px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

.main {
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
}
.main::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 400px;
  height: 200px;
  background: #fff;
  filter: blur(400px);
  border-radius: 500px 500px 0 0;
}
.main__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
}
.main__textblock {
  max-width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.main__title {
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
}
.main__subtext {
  color: #999;
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  text-align: center;
}
.main__image {
  transform: translateY(60px);
  pointer-events: none;
}

.models {
  width: 100%;
  background-color: #f5f5f6;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.models__container {
  max-width: var(--max-width);
  width: 100%;
}
.models .section-title {
  margin-left: 30px;
}
.models__block {
  background-color: #fff;
  width: 100%;
  padding: 24px 0 40px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}
.models__buttons {
  display: flex;
  align-items: center;
  gap: 36px;
  margin-bottom: 24px;
}
.models__button {
  font-weight: 600;
  font-size: 16px;
  color: #999;
  background-color: transparent;
  border-radius: 8px;
  position: relative;
  transition: var(--hover-transition);
}
.models__button::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #212121;
  position: absolute;
  left: 0;
  bottom: -2px;
  border-radius: 20px;
  transition: var(--hover-transition);
}
.models__button-active {
  color: #212121;
}
.models__button-active.models__button::after {
  opacity: 1;
  bottom: 0;
}
.models__list {
  display: none;
  grid-template-columns: repeat(4, 200px);
  gap: 70px;
}
.models__list-active {
  display: grid;
}
.model {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.model__image {
  width: 172px;
  height: 228px;
  margin: 0 auto;
  pointer-events: none;
}
.model__colors {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 16px 0;
}
.model__color {
  width: 12px;
  height: 12px;
  background-color: #494a4c;
  box-shadow: inset -1px 1px 2px 0 #0000005c;
  border-radius: 100%;
}
.model__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 16px;
}
.model__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
}
.model__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}
.model__memory {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}
.model__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

.services {
  width: 100%;
  background-color: #fff;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__container {
  max-width: var(--max-width);
  width: 100%;
}
.services .section-title {
  max-width: 570px;
  margin: 0 0 100px 30px;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 5%;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__number {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  background-color: #212121;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 24px;
}
.service__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  width: 100%;
  margin-bottom: 16px;
}
.service__description {
  color: #999;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  width: 100%;
}
.service__link {
  color: #212121;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  position: relative;
}
.service__link::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #212121;
  position: absolute;
  left: 0;
  bottom: -2px;
  border-radius: 20px;
  transition: var(--hover-transition);
}

.faq {
  width: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}
.faq__container {
  max-width: var(--max-width);
  width: 100%;
}
.faq .section-title {
  color: #fff;
  margin-left: 30px;
}
.faq__items {
  width: 100%;
  margin: 24px 0;
  display: grid;
  grid-template-columns: repeat(6, 360px);
  grid-template-rows: repeat(1, 240px);
  gap: 30px;
  transition: var(--common-transition);
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.faq__items::-webkit-scrollbar {
  display: none;
}
.faq__item {
  background: #2e2e2e;
  box-shadow: inset 0 0 1px 1px #ffffff14;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
.faq__icon {
  width: 32px;
  height: 32px;
  pointer-events: none;
}
.faq__question {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  margin: 20px 0 16px;
}
.faq__text {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}
.faq__buttons {
  width: min-content;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}
.faq__button {
  background-color: #2e2e2e;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: var(--hover-transition);
  pointer-events: all;
}
.faq__button_disabled {
  opacity: var(--hover-opacity);
  pointer-events: none;
}
.faq__button-left {
  background-image: url("../images/faq/__arrow-left.svg");
}
.faq__button-right {
  background-image: url("../images/faq/__arrow-right.svg");
}

.footer {
  color: #fff;
  max-width: var(--max-width);
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
}
.footer__line {
  width: 100%;
  height: 1px;
  background-color: #4a4a4a;
}
.footer__container {
  width: 100%;
  box-sizing: border-box;
  padding: 22px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__links {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  display: flex;
  align-items: center;
  transition: var(--hover-transition);
}
.footer__link-icon {
  margin-right: 4px;
}
.footer__anchors {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer__anchor {
  font-weight: 600;
  font-size: 14px;
  transition: var(--hover-transition);
}

/* hover effects */
@media (hover: hover) {
  .header__logo:hover {
    opacity: var(--hover-opacity);
  }
  .header__nav-link:hover {
    opacity: var(--hover-opacity);
  }
  .header__link:hover {
    opacity: var(--hover-opacity);
  }
  .models__button:hover {
    color: #212121;
  }
  .models__button:hover::after {
    opacity: 1;
    bottom: 0;
  }
  .service__link:hover::after {
    opacity: 1;
    bottom: 0;
  }
  .faq__button:hover {
    background-color: #3d3d3d;
  }
  .footer__link:hover {
    opacity: var(--hover-opacity);
  }
  .footer__anchor:hover {
    opacity: var(--hover-opacity);
  }
}
@media (hover: none) {
  .header__logo:hover {
    opacity: var(--hover-opacity);
  }
  .header__nav-link:hover {
    opacity: var(--hover-opacity);
  }
  .header__link:hover {
    opacity: var(--hover-opacity);
  }
  .models__button:hover {
    color: #212121;
  }
  .models__button:hover::after {
    opacity: 1;
    bottom: 0;
  }
  .service__link:hover::after {
    opacity: 1;
    bottom: 0;
  }
  .faq__button:hover {
    background-color: #3d3d3d;
  }
  .footer__link:hover {
    opacity: var(--hover-opacity);
  }
  .footer__anchor:hover {
    opacity: var(--hover-opacity);
  }
}

/* screens */
@media screen and (max-width: 1180px) {
  .main {
    min-height: 600px;
  }
  .main__image {
    width: 460px;
    height: 320px;
  }

  .models__buttons {
    gap: 24px;
  }
  .models__list {
    grid-template-columns: repeat(4, 140px);
    gap: 40px;
  }
  .model__image {
    width: 120px;
    height: 160px;
  }
  .model__colors {
    gap: 2px;
  }
  .model__color {
    width: 8px;
    height: 8px;
  }
  .model__title {
    font-size: 20px;
  }
  .model__subtitle {
    font-size: 12px;
  }
  .model__memory {
    font-size: 14px;
  }
  .model__price {
    font-size: 14px;
  }

  .services__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 45px 5%;
  }
}
@media screen and (max-width: 800px) {
  .section-title {
    font-size: 24px;
  }

  .burger {
    display: block;
  }

  .header {
    height: 100px;
  }
  .header .nav-panel {
    display: none;
  }
  .header__link-icon {
    width: 24px;
    height: 24px;
  }
  .header__link-text {
    display: none;
  }

  .main__image {
    width: 350px;
    height: 240px;
    transform: translateY(120px);
  }

  .models__buttons {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 6px;
    margin-bottom: 40px;
  }
  .models__button {
    background: #e2e2e2;
    padding: 10px 0;
  }
  .models__button::after {
    display: none;
  }
  .models__button:hover {
    color: #fff;
    background-color: #2853ff;
  }
  .models__button-active {
    color: #fff;
    background-color: #2853ff;
  }
  .models__list {
    grid-template-columns: repeat(2, 160px);
    gap: 40px;
  }
  .model__image {
    width: 120px;
    height: 160px;
  }
  .model__colors {
    margin: 12px 0;
  }
  .model__title {
    margin-bottom: 12px;
  }

  .services .section-title {
    margin: 0 auto 100px 30px;
    max-width: 420px;
  }
  .services__list {
    max-width: 320px;
    grid-template-columns: repeat(1, 1fr);
    gap: 45px;
    margin: 0 auto;
  }

  .faq__container {
    max-width: 100%;
  }
  .faq .section-title {
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
  }
  .faq__items {
    width: auto;
    padding: 0 40px;
    overflow-x: scroll;
    gap: 24px;
  }
  .faq__buttons {
    display: none;
  }

  .footer {
    max-width: 100%;
    width: 100%;
  }
  .footer__container {
    max-width: var(--max-width);
    padding: 40px 0;
  }
  .footer__links {
    max-width: 480px;
    width: 100%;
    justify-content: space-between;
  }
  .footer__anchors {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .header {
    padding: 0 20px;
  }

  .main {
    min-height: 580px;
  }
  .main::after {
    width: 320px;
    filter: blur(240px);
  }
  .main__container {
    margin-top: 180px;
  }
  .main__textblock {
    max-width: 300px;
  }
  .main__title {
    font-size: 36px;
  }
  .main__subtext {
    font-size: 16px;
  }
  .main__image {
    width: 260px;
    height: 180px;
    transform: translateY(100px);
  }

  .models__block {
    padding: 24px 0;
  }
  .models__buttons {
    grid-template-columns: repeat(3, 90px);
    margin-bottom: 24px;
  }
  .models__button {
    font-size: 14px;
  }
  .models__list {
    grid-template-columns: repeat(2, 140px);
    gap: 24px 14px;
  }
  .model__image {
    width: 100px;
    height: 130px;
  }
  .model__title {
    font-size: 16px;
  }
  .model__subtitle {
    font-size: 10px;
  }
  .model__memory {
    font-size: 12px;
  }
  .model__price {
    font-size: 12px;
  }

  .services .section-title {
    margin: 0 0 100px 30px;
    max-width: 280px;
  }
  .services__list {
    max-width: 100%;
    padding: 0 20px;
    gap: 60px;
  }
  .service__number {
    font-size: 18px;
    width: 32px;
    height: 32px;
    margin-bottom: 18px;
  }
  .service__title {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .service__description {
    font-size: 16px;
  }
  .service__link {
    font-size: 16px;
  }

  .faq .section-title {
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
  }
  .faq__items {
    padding: 0 20px 0;
    grid-template-columns: repeat(6, 280px);
    grid-template-rows: repeat(1, 320px);
  }

  .footer__container {
    padding: 40px 20px;
  }
}
